/**
 * Dropit CSS
 * Author: Alexis Metaireau
 * Date: May 26 2010
 */

/** Menu *********************************************************************/

#topmenu{
    margin-top: 20px;
}

#topmenu ul, #topmenu ul li{
    display: inline;
    margin-left: 10px;
}

#content h2 {
    font-weight: bold;
    text-shadow:  #DDD 2px 5px 2px;
}

/** Notes ********************************************************************/

#note h1 {
    font-size: 1.8em;
}

#note h2 {
    font-size: 1.6em;
    font-style: italic;
}

#note h3 {
    font-size: 1.5em;
    font-style: italic;    
}

#revisions-navigation{
    float: right;
    margin: -40px 50px 0 0;
}

.revision-navigation{
    width: 60px;
    height: 32px;
}

.revision-navigation a{
    line-height: 2.4em;
}

.previous{
    background: url('../images/previous.png') no-repeat top left;
    padding-left: 35px;
    float: left;
}

.next{
    background: url('../images/next.png') no-repeat top right;
    padding-right: 35px;
    float: right;
    text-align: right;
    width: 35px;
}

/** Content header ***********************************************************/

#content-header, #content-header li{
    padding-left: 0px;
    list-style-type: none;
}

#content-header{
    float: left;
    margin-left: -160px;
}

#content-header li a{
    display: block;
    height: 32px;
    width: 110px;
    padding-right: 38px;
    margin-bottom: 5px;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

#content-header .edit a{
    background: url('../images/edit.png') no-repeat top right;
}

#content-header .delete a{
    background: url('../images/delete.png') no-repeat top right;
}

#content-header a:hover{
    color: #000;
}

/** Tags *********************************************************************/

ul.tags{
    float: left;
    padding-left: 5px;
}

ul.tags li{
    float: left; 
    list-style-type: none;
    margin: 0 10px;
    background-color: #eaeaea;
    padding: 2px 8px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** Menuitems ****************************************************************/

#menuitems ul, #menuitems ul li{
    display: inline !important;
    margin: 0px;
    padding: 0px;
    float: left;
}

#menuitems ul li{
    margin-left: 5px;
    margin-right: 5px;
}

ul.tags li:hover{
    background-color: #dadada;
}

/** Form Skinning ************************************************************/

.textboxlist{
    width: 200px;
}

.textboxlist ul li input{
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: right;
}

input[type="text"], input.text {
    font-size:1.2em;
    height:20px;
    margin:0.5em 0;
}

/** Reusable Classes **********************************************************/

.info {
    padding-left: 35px;
    background: url('../images/help.png') no-repeat;
}

.clear {
    clear: both;
}

/** Tag Cloud related CSS *****************************************************/

ul.tagcloud  
{  
    list-style-type:none;  
    margin:0px;  
    padding:0px;  
}  
  
ul.tagcloud li  
{  
    display:inline !important;  
    margin-right:15px;  
    line-height:2em;  
}  
  
ul.tagcloud li a  
{  
    display:inline;  
}  
  
ul.tagcloud li.cloud-1 a  
{  
    font-size:110%;  
}  
  
ul.tagcloud li.cloud-2 a  
{  
    font-size:120%;  
}  
  
ul.tagcloud li.cloud-3 a  
{  
    font-size:130%;  
}  
  
ul.tagcloud li.cloud-4 a  
{  
    font-size:140%;  
}  

ul.tagcloud li.cloud-5 a  
{  
    font-size:150%;  
}  

ul.tagcloud li.cloud-6 a  
{  
    font-size:160%;  
}
  
ul.tagcloud li.cloud-7 a  
{  
    font-size:170%;  
} 

ul.tagcloud li.cloud-8 a  
{  
    font-size:180%;  
}  
 
ul.tagcloud li.cloud-9 a  
{  
    font-size:190%;  
}  
  
ul.tagcloud li.cloud-10 a  
{  
    font-size:200%;  
}  
